@keyframes ldio-yzaezf3dcmj {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldio-yzaezf3dcmj div {
    left: 68.14999999999999px;
    top: 42.05px;
    position: absolute;
    animation: ldio-yzaezf3dcmj linear 1.0869565217391304s infinite;
    background: #fe718d;
    width: 8.7px;
    height: 8.7px;
    border-radius: 4.35px / 4.35px;
    transform-origin: 4.35px 30.45px;
}

.ldio-yzaezf3dcmj div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.0093167701863353s;
    background: #fe718d;
}

.ldio-yzaezf3dcmj div:nth-child(2) {
    transform: rotate(25.714285714285715deg);
    animation-delay: -0.9316770186335404s;
    background: #fe718d;
}

.ldio-yzaezf3dcmj div:nth-child(3) {
    transform: rotate(51.42857142857143deg);
    animation-delay: -0.8540372670807453s;
    background: #fe718d;
}

.ldio-yzaezf3dcmj div:nth-child(4) {
    transform: rotate(77.14285714285714deg);
    animation-delay: -0.7763975155279502s;
    background: #fe718d;
}

.ldio-yzaezf3dcmj div:nth-child(5) {
    transform: rotate(102.85714285714286deg);
    animation-delay: -0.6987577639751552s;
    background: #fe718d;
}

.ldio-yzaezf3dcmj div:nth-child(6) {
    transform: rotate(128.57142857142858deg);
    animation-delay: -0.6211180124223602s;
    background: #fe718d;
}

.ldio-yzaezf3dcmj div:nth-child(7) {
    transform: rotate(154.28571428571428deg);
    animation-delay: -0.5434782608695652s;
    background: #fe718d;
}

.ldio-yzaezf3dcmj div:nth-child(8) {
    transform: rotate(180deg);
    animation-delay: -0.4658385093167702s;
    background: #fe718d;
}

.ldio-yzaezf3dcmj div:nth-child(9) {
    transform: rotate(205.71428571428572deg);
    animation-delay: -0.3881987577639751s;
    background: #fe718d;
}

.ldio-yzaezf3dcmj div:nth-child(10) {
    transform: rotate(231.42857142857142deg);
    animation-delay: -0.3105590062111801s;
    background: #fe718d;
}

.ldio-yzaezf3dcmj div:nth-child(11) {
    transform: rotate(257.14285714285717deg);
    animation-delay: -0.2329192546583851s;
    background: #fe718d;
}

.ldio-yzaezf3dcmj div:nth-child(12) {
    transform: rotate(282.85714285714283deg);
    animation-delay: -0.15527950310559005s;
    background: #fe718d;
}

.ldio-yzaezf3dcmj div:nth-child(13) {
    transform: rotate(308.57142857142856deg);
    animation-delay: -0.07763975155279502s;
    background: #fe718d;
}

.ldio-yzaezf3dcmj div:nth-child(14) {
    transform: rotate(334.2857142857143deg);
    animation-delay: 0s;
    background: #fe718d;
}

.loadingio-spinner-spinner-2by998twmg8 {
    width: 150px;
    height: 150px;
    display: inline-block;
    overflow: visible;
    background: none;
}

.ldio-yzaezf3dcmj {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-yzaezf3dcmj div {
    box-sizing: content-box;
}